<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="https://www.linkedin.com/in/mitchel-huang/">LinkedIn</a></li>
                <li><a href="https://github.com/mithuang">Github</a></li>
            </ul>
        </footer>
    </body>
</html>